/project_girlField_dev/project_girlField/Library
/project_girlField_dev/project_girlField/Logs
/project_girlField_dev/project_girlField/UserSettings
/project_girlField_dev/project_girlField/.vs
/project_girlField_dev/project_girlField/obj
/project_girlField_dev/project_girlField/project_girlField_BurstDebugInformation_DoNotShip
/project_girlField_dev/project_girlField/Temp
